.header-topbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background: white;

    a {
        text-decoration: none;
    }

    .logo {
        width: 50px;
        border-radius: 50%;
    }

    .nav-area {
        list-style: none;
    }

    .nav-area li {
        display: inline-block;
        padding: 0 15px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .nav-area li a {
        transition: all 0.3s ease;
        color: tomato;
    }

    .nav-area li a:hover {
        color: violet;
    }

    .navbar-mobile {
        display: none;
    }
}

.slide-btn a{
        
    top:50%;
    position: fixed;
    right: -50px;
    z-index:1000;
    transform: rotate(-90deg);
    background-color: burlywood;
    padding:10px 20px 35px;
    height: 0px;
    font-size: 25px;

}

@media (max-width : 768px) {
    
    .header-topbar {

        justify-content: space-between;

        .logo {
            margin: 0 10px;
        }

        .navbar-pc {
            display: none;
        }

        .navbar-mobile {
            display: flex;
            margin: 0 10px;

            i {
                font-size: 24px;
                cursor: pointer;
            }
            .list-mobile {
                background-color:burlywood ;
                position: absolute;
                right: 0;
                top: 0;
                margin-top: 55px;
                margin-right: 0;
                ul{
                    list-style: none;
                    padding: 10px;
                }
                a{
                    color: black;
                    letter-spacing: 2px;
                }

                a:hover{
                    
                    color: brown;
                }

            }
            .close{
                display: none;
            }
        }

    }
}